@import "less/bootstrap/bootstrap.css";
@import "less/font-awesome/font-awesome.css";
@import "less/switch-toggle/switch-toggle.css";
/**
 * style.less
 * Created with PhpStorm
 * User: Robin | Juraji
 * Date: 12 okt 2015
 * Time: 12:32
 */
/* pre-compiled */
body.chat-enabled #page-wrapper {
  width: 70%;
}
body.chat-enabled #chat-sidebar {
  width: 30%;
}
body.chat-enabled div[class*='col-sm'] {
  clear: both;
  width: 100%;
}
body.music-controls-enabled #music-player-controls {
  height: 40px;
}
body.music-controls-enabled #general-alert {
  bottom: 40px;
}
body.music-controls-enabled #chat-sidebar {
  bottom: 40px;
}
body.music-controls-enabled .page-footer {
  margin-bottom: 61px;
}
div[class*='col-'] {
  padding-bottom: 2px;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
a {
  color: #6441a5;
}
#page-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  margin-top: 15px;
  padding: 0 15px;
}
#chat-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #222222;
  overflow: hidden;
  width: 0;
  transition: width 0.3s ease-in-out;
}
#chat-sidebar.double-chat iframe {
  height: 50%;
}
.panel-version {
  margin-top: 3px;
  display: block;
  font-size: .6em;
}
#login-form {
  width: 250px;
  margin: 0 auto;
}
#login-alert,
#second-chat-form {
  display: none;
}
#general-alert {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  display: none;
  border-radius: 4px 0 0 0;
  border-bottom: none;
  border-right: none;
}
#music-player-controls {
  height: 0;
  z-index: 99999;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: height 0.3s ease-in-out;
  background-color: rgba(48, 48, 48, 0.9);
  border-top: 1px solid #999999;
}
#music-player-controls > div {
  position: relative;
  float: left;
  border-radius: 4px;
  margin: 2px 6px;
}
#music-player-controls .spacer {
  display: inline-block;
  height: 1em;
  width: 12px;
}
#music-player-controls .icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 6px;
  font-size: 20px;
}
#music-player-controls .icons .fa:before {
  transition: transform 0.3s ease-in-out;
}
#music-player-controls .icons .fa:before:hover {
  transform: scale(1.1);
}
#music-player-controls .icons .switch-toggle.st-sm {
  padding: 0;
  font-size: 20px;
}
#music-player-controls .icons .switch-toggle.st-sm .switch {
  margin-top: 10px;
}
#music-player-controls #music-player-volume {
  padding-bottom: 0;
  display: inline-block;
  width: 70px;
  height: 18px;
  margin-bottom: -2px;
}
#music-player-controls #music-player-volume .value {
  width: 100%;
  height: 100%;
  background: url('/app/content/static/volume-display.png') no-repeat center 100%;
}
#music-player-controls .youtube-icon {
  margin-left: 8px;
  color: #cc181e;
}
#music-player-controls #controls #music-player-play.activated {
  color: #00bc8c;
  animation: play-button-active 1s ease-in-out;
  animation-iteration-count: infinite;
}
#music-player-controls #controls #music-player-shuffle.activated {
  color: #00bc8c;
}
#music-player-controls #controls a {
  color: #ffffff;
  margin-right: .25em;
}
#music-player-controls #controls a:last-child {
  margin-right: 0;
}
#music-player-controls #current-video-title {
  padding: 7px 0 8px 0;
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
  background-color: #222222;
}
#music-player-controls #current-video-title.long .text {
  animation: scroll-text 10s linear;
  animation-iteration-count: infinite;
}
#music-player-controls #current-video-title .text,
#music-player-controls #current-video-title .music-title-spacer {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
#music-player-controls #current-video-title .text {
  font-family: "Lucida Console";
  min-width: 100%;
}
#music-player-controls #current-video-title .text:last-child {
  margin-left: -3px;
}
#music-player-controls .options {
  float: right;
}
#music-player-controls .options .dropdown-toggle:after {
  content: ' ▴';
}
#music-player-controls .options .dropdown-menu {
  top: auto;
  left: auto;
  right: 0;
  bottom: 37px;
  width: 450px;
  height: 450px;
  padding: 7.5px;
}
#music-player-controls .options .dropdown-menu#music-player-requests {
  overflow-y: scroll;
}
#music-player-controls .options .dropdown-menu li {
  padding-bottom: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
#music-player-controls .options .dropdown-menu li:first-child {
  padding-top: 7.5px;
  background-color: #464545;
}
#music-player-controls .options .dropdown-menu li .form-group {
  margin: 0;
}
#stream-preview {
  margin: 1em auto 0;
  display: none;
}
#stream-preview.open {
  display: block;
}
.info-banner-space-left {
  margin-left: .75em;
}
.data-table {
  max-height: 450px;
  overflow: auto;
}
.data-table.full-height {
  max-height: none;
}
.app-part {
  overflow: hidden;
}
.spacer {
  height: 1em;
}
.has-tooltip {
  cursor: help;
}
.dropdown-toggle:after {
  content: ' ▾';
}
.collapsible-master {
  cursor: pointer;
}
.collapsible-master:after {
  content: ' ▾';
}
.collapsible-master.open:after {
  content: ' ▴';
}
.collapsible-content {
  display: none;
  overflow: hidden;
}
.collapsible-content:open {
  display: block;
}
#favorites-menu {
  width: 100%;
}
@media (min-width: 0) {
  #favorites-menu {
    padding-left: 140px;
  }
}
#favorites-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
#favorites-menu li span {
  padding-top: 13px;
}
@media (max-width: -1) {
  #favorites-menu li span {
    padding-left: 15px;
  }
}
.popover {
  opacity: 0;
  display: block;
  height: auto;
  width: auto;
  transform: scale(0.3);
  transition: transform 0.5s ease-in-out;
  pointer-events: none;
}
.popover.no-transition {
  transition: none;
}
.popover .popover-content {
  padding: 5px 9px;
  line-height: 1.428571429;
}
@media (min-width: 0) {
  .navbar {
    height: 101px;
  }
}
.navbar-nav li {
  transition: background-color 0.3s ease-in-out;
}
.navbar-nav li:hover {
  color: #ffffff;
  background-color: #4e3380;
}
.navbar-nav li.favorites-menu-icon {
  margin-right: 5px;
}
.navbar-nav li.favorites-menu-icon:hover {
  background-color: transparent;
}
.navbar-brand {
  padding: 4px 11px;
}
@media (max-width: -1) {
  .navbar-brand img {
    position: absolute;
    right: 4px;
  }
}
.information-panel.hidden {
  display: none;
}
.update-info {
  text-align: center;
}
.custom-commands .command-actor {
  width: 30%;
  min-width: 300px;
}
.custom-commands .message.me {
  color: #e74c3c;
}
.custom-commands .message.whisper {
  color: #7e5bbe;
}
.custom-commands .price {
  min-width: 75px;
}
#stream-preview-fit-video {
  display: none;
}
.volume-control {
  display: block;
  float: left;
  color: #fff;
  border-radius: 4px;
  border: #464545;
  padding: 4px 0;
  width: 150px;
}
.volume-control .fa-volume-up {
  margin-top: 1px;
  float: left;
}
.volume-control #volume-indicator {
  margin-left: 5px;
  float: left;
  width: 45px;
}
.volume-control .volume-control-slider-wrapper {
  float: left;
  margin-top: 7px;
}
.volume-control .volume-control-slider-wrapper #volume-control-slider {
  margin-left: 10px;
  width: 118px;
  height: 8px;
  border-radius: 5px;
  background-color: #196090;
}
.volume-control .volume-control-slider-wrapper #volume-control-slider .ui-slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  background-color: #3498db;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
  margin-top: 2px;
}
.combined-bot-command-form input[type=text].form-control {
  border-left: 3px solid #6441a5;
}
.combined-bot-command-form .input-group-addon-select {
  padding: 0;
  border: none;
  overflow: hidden;
  min-width: 250px;
}
@keyframes play-button-active {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
